<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/main.css">
</head>
<body>

    <!-- #Wrapper -->
    <div class="wrapper">

        <!-- #Header -->
        {{> header }}
        <!-- /Header -->

        <!-- #Main content -->
        {{> body }}
        <!-- /Main content -->

    </div>
    <!-- /Wrapper -->

    <!-- #Footer -->
    {{> footer }}
    <!-- #Footer -->

    <!-- #Loading -->
    <div id="loader">
        <div class="loading"></div>
    </div>
    <!-- /Loading -->

    <!-- #Scripts -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <script src="/dist/js/main.js"></script>
    <!-- /Scripts -->

</body>
</html>
