<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- #Social media -->
            <div class="col-md-6 col-sm-12 socials socials--black pull-md-right">
                <a href="#" class="facebook" data-toggle="tooltip"
        data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>

                <a href="#" class="twitter" data-toggle="tooltip"
        data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>

                <a href="#" class="instagram" data-toggle="tooltip"
        data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>

                <a href="#" class="google" data-toggle="tooltip"
        data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a>

                <a href="#" class="in" data-toggle="tooltip"
        data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- /Social media -->

            <!-- #Copyright -->
            <div class="col-md-6 col-sm-12 copyright">
                Copyright ©2016 WebStars | All right reserved.
            </div>
            <!-- /Copyright -->

        </div>
    </div>
</footer>
