/*=============================================================================
Footer
=============================================================================*/

.footer {
    border-top: $bw solid $black;
    padding: rem(20) rem(10);
    text-align: center;

    +above(768px) {
        height: rem(72);
    }
}

.copyright {
    color: $black;
    font-size: rem(12);

    +above(768px) {
        line-height: rem(30);
        text-align: left;
    }
}
