//==============================================================================
// Custom bootstrap custom styles
//==============================================================================

// Buttons
.btn {
    border-radius: 0;
}

.btn-group-lg>.btn, .btn-lg {
    padding: rem(12) rem(32);
}

.btn-secondary-outline {
    color: rgba($white, $op-white);
    border: $bw solid rgba($white, $op-white);
    transition: all $trans-time;
    font-weight: 300;

    &:focus,
    &:active,
    &:hover {
        background-color: transparent;
        outline: 0;
        color: $white
    }

    &--black {
        color: $black;
        border: $bw solid $black;

        &:focus,
        &:active,
        &:hover {
            background-color: $black;
            border: $bw solid $black;
            outline: 0;
            color: $white
        }
    }

}

// Tooltip
.tooltip.in {
    opacity: 1;
}

//==============================================================================
// Plugins styles
//==============================================================================

// Bordered
.bordered {
    position: relative;
    margin-bottom: rem(15);

    span {
        border-bottom: $bw solid $black;
    }
}


//==============================================================================
// Plugins styles
//==============================================================================

// Fluidbox styles
.fluidbox__overlay {
    background-color: rgba(#fff, .95);
}
