/*=============================================================================
Content
=============================================================================*/

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto rem(-65);
    padding-bottom: rem(145);
}

.content {
    margin-top: rem(74);
}
